<html>
    <head>
        <title>Login</title>
        <!-- style -->
        <link rel='stylesheet' type='text/css' href='/assets/css/bootstrap.min.css'>
        <!-- js -->
        <script src='/assets/js/jquery.min.js'></script>
        <script src='/assets/js/bootstrap.min.js'></script>
    </head>
    <body>
        <form method='POST' action='login' role='form'>
            <% if(message.length >0) { %>
                <div class="alert alert-danger" role="alert" id='message'>
                <%= message %>
                </div>
            <% } %>
            <div class='form-group'>
                <label for='username'>Username:</label>
                <input name='username' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                <label for='password'>Password:</label>
                <input name='password' class='form-control' type='password'>
            </div>
            <button type='submit' class='btn btn-primary btn-lg'>Login</button>
            <a href='/signup'>Sign up</a>
        </form>
    </body>
</html>